.projetos {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 100px;
}

.projetos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projetos .subtitulo {
  max-width: 3.6ch;
}

.projetos .subtitulo {
  color: #e0e0e0;
}

.projetos-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.projetos-texto strong {
  color: #141414;
}

.botao {
  position: absolute;
  background: linear-gradient(to right, #4fe7fc, #1cacda);
  color: #000;
  margin-top: 10px;
  padding: 15px 30px;
  border-radius: 5px;
  text-transform: none;
  text-decoration: none;
}

.imagem-one:hover {
  border-left: 2px solid #4fe7fc;
  overflow: hidden;
}

.imagem-two:hover {
  border-left: 2px solid #4fe7fc;
  overflow: hidden;
}

.imagem-three:hover {
  border-left: 2px solid #4fe7fc;
  overflow: hidden;
}

.projetos-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  padding: 20px;
}

.imagem-one {
  margin-bottom: 60px;
}

.textos-one h3,
p,
a {
  margin-bottom: 15px;
}

.projetos-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  padding: 20px;
}

.imagem-two {
  margin-bottom: 60px;
}

.textos-two h3,
p,
a {
  margin-bottom: 15px;
}

.projetos-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  padding: 20px;
}

.imagem-three {
  margin-bottom: 60px;
}

.textos-three h3,
p,
a {
  margin-bottom: 15px;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.button::before,
.button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #0f1923;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #4fe7fc;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

@media (max-width: 800px) {
  .projetos-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .projetos-container {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .projetos-texto {
    font-size: 0rem;
  }
  .projetos-one {
    margin-bottom: 80px;
  }
  .projetos-two {
    margin-bottom: 80px;
  }
  .projetos-three {
    margin-bottom: 20px;
  }
  .textos-one p {
    font-size: 0rem;
  }
  .textos-two p {
    font-size: 0rem;
  }
  .textos-three p {
    font-size: 0rem;
  }
}
